# Algorithms in history

## Russian Peasant Multiplication

In [17]:
n1 = 18
n2 = 89

In [18]:
halving = [n1]

In [19]:
import math
while (min(halving) > 1):
    halving.append(math.floor(min(halving) / 2))

In [20]:
doubling = [n2]
while (len(doubling) < len(halving)):
    doubling.append(max(doubling) * 2)

In [21]:
import pandas as pd
half_double = pd.DataFrame(zip(halving, doubling))

In [22]:
half_double

    0     1
0  18    89
1   9   178
2   4   356
3   2   712
4   1  1424

In [23]:
half_double = half_double.loc[half_double[0] % 2 == 1]
half_double

   0     1
1  9   178
4  1  1424

In [16]:
answer = sum(half_double.loc[:, 1])
answer

1602

## Euclid's Algorithm

In [26]:
def gcd(x, y):
    larger, smaller = max(x,y), min(x,y)
    remainder = larger % smaller
    return smaller if remainder == 0 else gcd(smaller, remainder)

In [36]:
gcd(9, 21)

3